@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-dark: #0a1424;
    --color-bg-midnight-blue: #0d1d35;
    --color-text-light: #d9d9d9;
    --color-text-puple: #8c00ff;
    --color-pink: "#FE66CB";
    --color-bg-electric-blue: #0091ff;
    --color-text-muted: "#727272";
    --color-black-darken: rgba(255, 255, 255, 0.05);
  }

  @font-face {
    font-family: "segoe";
    font-weight: 400;
    src: url("/fonts/SegoeUI.woff") format("woff");
  }
  @font-face {
    font-family: "segoe";
    font-weight: 700;
    src: url("/fonts/SegoeUIBold.woff") format("woff");
  }
  button {
    @apply rounded-[5px];
  }
  nav {
    @apply px-5 pb-1 bg-skin-dark 2xl:px-0 md:px-16 pt-5 flex items-center justify-between z-50 max-w-[1920px] w-full  mx-auto left-0 fixed top-0  right-0;
  }
}

@layer components {
  /* Button Primary */
  .btn-primary {
    @apply block text-base text-white bg-skin-purple w-[143px] py-2.5;
    transform: translateX(0px) !important;
    transition: 0.5s all ease !important;
  }

  /* mobile navbar */
  .mobile_navbar {
    transform: translateX(0px) !important;
    transition: 0.5s all ease !important;
  }
  /* Hero page */
  .hero {
    @apply relative;
  }
  .hero_image {
    @apply bg-no-repeat bg-contain
    bg-center opacity-10 -z-10 absolute inset-0 bg-[url(./assets/solve3-logo.svg)];
  }

  .hero h2 {
    @apply text-white text-[30px] md:text-[50px] font-normal font-segoe leading-[30px] md:leading-[45px] tracking-[.63px];
  }
  .hero p {
    @apply text-base md:text-[24px] md:leading-[38px] font-normal  md:w-[80%] text-skin-light mx-auto font-lato;
  }
  .box_regtegle {
    transform: rotate(15deg);
  }
}
